SECRET_KEY=secret_key
DEBUG=True/False
DJANGO_ALLOWED_HOSTS=host_addr_1 host_addr_2 host_addr_3
DJANGO_HOST=host_addr
DJANGO_PORT=port
DJANGO_SUPERUSER_USERNAME=username
DJANGO_SUPERUSER_PASSWORD=password
DJANGO_SUPERUSER_EMAIL=mail@mail.ru

# similar to the db.env file
DB_NAME=database_name
DB_USER=user
DB_PASSWORD=password
DB_PORT=port

# name of service from docker-compose is used as a host name
DB_HOST=postgres
